@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.wagerAndHandicappingWrapper  .wageringAndInfoTabs {
  list-style: none;
}
.mCSB_container,
.mCSB_container.mCS_y_hidden {
  margin-right: 20px;
}
.wagerAndHandicappingWrapper .leftNavFixed {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  position: fixed;
  background: #fff;
  width: 255px;
  top: 152px;
  bottom: 0;
  z-index: 1;
}
.wagerAndHandicappingWrapper ul {
  padding-left: 0;
}
.wagerAndHandicappingWrapper .handicappingNavContainer {
  padding: 0;
}
.wagerAndHandicappingWrapper .mCSB_container,
.wagerAndHandicappingWrapper .mCSB_container.mCS_y_hidden {
  margin-right: 10px;
}
.wagerAndHandicappingWrapper .trackHandicappingCategory {
  justify-content: space-between;
}
.wagerAndHandicappingWrapper .collapseDownMinus,
.wagerAndHandicappingWrapper .collapseUpPlus {
  width: 14px;
  height: 14px;
}
.wagerAndHandicappingWrapper .favoriteStar {
  width: 16px;
  margin: 3px 6px 0 0;
  fill: #ffc600;
  cursor: pointer;
}
.wagerAndHandicappingWrapper .favoriteStar.unFavoriteStar {
  fill: none;
}
.wagerAndHandicappingWrapper .favoriteStar.unFavoriteStar .unChecked {
  stroke: #06c;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer {
  overflow: auto;
  height: calc(100% - 60px);
  padding-left: 10px;
  position: relative;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion a {
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Titillium Web',sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li {
  margin-bottom: 15px;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .wagerCard {
  border: 1px solid #0066cc;
  padding: 6px 10px 6px 12px;
  margin-bottom: 6px;
  cursor: pointer;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .wagerCard:first-of-type {
  margin-top: 12px;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackMtpWrapper {
  align-items: center;
  flex: 1 0 auto;
  justify-content: flex-end;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .timeLeft {
  color: #ec1c24 !important;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackName {
  font-size: 21px;
  line-height: 1;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .firstWord {
  font-family: 'Titillium Web',sans-serif;
  font-weight: 600;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .fullTrackName,
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackName {
  font-family: 'Titillium Web', sans-serif;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .fullTrackName {
  font-size: 11px;
  line-height: 1;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .clockIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid;
  color: inherit;
  margin-right: 5px;
  position: relative;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .clockIcon::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: inherit;
  top: 5px;
  right: 5px;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackMtp {
  font-size: 14px;
  line-height: 15px;
  color: inherit;
  font-family: 'Titillium Web',sans-serif;
  text-align: center;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackMtp .firstLetter {
  font-size: 18px;
  line-height: 19px;
  font-weight: 600;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackMtpAndTrackName {
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: start;
  color: #000;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackNameAndStarWrappper {
  align-items: start;
  flex: 1 0 50%;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackNameWrapper {
  flex-direction: column;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackLoc {
  font-size: 11px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 1.2;
  margin-bottom: 0;
  max-width: 200px;
  word-wrap: break-word;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackInfo {
  margin-bottom: 6px;
  color: #000;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackInfo span {
  font-size: 11px;
  font-family: 'Titillium Web',sans-serif;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackInfo span::after {
  content: "|";
  margin: 0 3px;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackInfo span:last-of-type::after {
  content: "";
}
.wagerAndHandicappingWrapper .leftNavWageringContainer .wageringAccordion li .trackFave {
  margin-bottom: 0;
  font-size: 11px;
  color: #000;
  font-family: 'Titillium Web',sans-serif;
}
.wagerAndHandicappingWrapper .wageringAndInfoTabs {
  margin: 15px 10px;
}
.wagerAndHandicappingWrapper .wageringAndInfoTabs li {
  flex: 1;
}
.wagerAndHandicappingWrapper .wageringAndInfoTabs a {
  font-size: 12px;
  font-family: 'Titillium Web',sans-serif;
  font-weight: 400;
  border: 1px solid #0066cc;
  text-align: center;
}
.wagerAndHandicappingWrapper .wageringAndInfoTabs a.active {
  background: #0066cc;
  color: #fff;
  text-decoration: none;
}
.wagerAndHandicappingWrapper .wageringAndInfoTabs a:hover {
  text-decoration: none;
}
.wagerAndHandicappingWrapper .leftNavWageringContainer  .mCS-dark.mCSB_scrollTools .mCSB_draggerRail,
.wagerAndHandicappingWrapper .leftNavWageringContainer  .mCSB_dragger .mCSB_dragger_bar {
  background: transparent !important;
}
.wagerAndHandicappingWrapper .collapseIcon {
  position: relative;
  width: 15px;
  margin-top: 5px;
}
.wagerAndHandicappingWrapper .collapseIcon:before {
  content: "";
  width: 12px;
  height: 12px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #ccc;
  position: absolute;
  transform: rotate(45deg);
  transition: trasnform .3s;
}
.wagerAndHandicappingWrapper .collapseActive:before {
  transform: rotate(-135deg);
}
.wagerAndHandicappingWrapper .loaderBackground {
  background: #fff;
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.wagerAndHandicappingWrapper .loader {
  width: 150px;
  height: 80px;
  z-index: 51;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url("https://ik.imagekit.io/h1gntnbx4/loader_BJJ6CZlgV_HyGCQ9E-xV.gif");
  background-size: 150px 80px;
}
.trackHandicappingCategory {
  justify-content: space-between;
}
.collapseDownMinus,
.collapseUpPlus {
  width: 14px;
  height: 14px;
}
.favoriteStar {
  width: 16px;
  margin-right: 6px;
  fill: #ffc600;
}
.favoriteStar.unFavoriteStar {
  fill: none;
}
.favoriteStar.unFavoriteStar .unChecked {
  stroke: #06c;
}
.leftNavWageringContainer .wageringAccordion a {
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: #000000;
  line-height: 1.4;
  vertical-align: middle;
}
.leftNavWageringContainer .wageringAccordion li {
  margin-bottom: 15px;
}
.leftNavWageringContainer .wageringAccordion li .wagerCard {
  border: 1px solid #0066cc;
  padding: 6px 10px 6px 12px;
  margin-bottom: 6px;
  cursor: pointer;
}
.leftNavWageringContainer .wageringAccordion li .wagerCard:first-of-type {
  margin-top: 12px;
}
.leftNavWageringContainer .wageringAccordion li .trackMtpWrapper {
  align-items: center;
  flex: 1 0 30%;
  justify-content: flex-end;
}
.leftNavWageringContainer .wageringAccordion li .timeLeft {
  color: #ec1c24 !important;
}
.leftNavWageringContainer .wageringAccordion li .trackName {
  font-size: 21px;
  line-height: 1;
}
.leftNavWageringContainer .wageringAccordion li .firstWord {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 21px;
}
.leftNavWageringContainer .wageringAccordion li .fullTrackName,
.leftNavWageringContainer .wageringAccordion li .trackName {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: #000000;
}
.leftNavWageringContainer .wageringAccordion li .fullTrackName {
  font-size: 11px;
  line-height: 1;
}
.leftNavWageringContainer .wageringAccordion li .clockIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid;
  color: inherit;
  margin-right: 5px;
  position: relative;
}
.leftNavWageringContainer .wageringAccordion li .clockIcon::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: inherit;
  top: 5px;
  right: 5px;
}
.leftNavWageringContainer .wageringAccordion li .trackMtp {
  font-size: 14px;
  color: inherit;
  font-family: Titillium_Web_Regular,Arial,sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.leftNavWageringContainer .wageringAccordion li .trackMtpAndTrackName {
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
.leftNavWageringContainer .wageringAccordion li .trackNameAndStarWrappper {
  align-items: center;
  flex: 1 0 50%;
}
.leftNavWageringContainer .wageringAccordion li .trackNameWrapper {
  flex-direction: column;
}
.leftNavWageringContainer .wageringAccordion li .trackLoc {
  font-size: 11px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
  margin-bottom: 0;
  max-width: 200px;
  word-wrap: break-word;
}
.leftNavWageringContainer .wageringAccordion li .trackInfo {
  margin-bottom: 6px;
  color: #000000;
}
.leftNavWageringContainer .wageringAccordion li .trackInfo span {
  font-size: 11px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}
.leftNavWageringContainer .wageringAccordion li .trackInfo span::after {
  content: "|";
  margin: 0 3px;
}
.leftNavWageringContainer .wageringAccordion li .trackInfo span:last-of-type::after {
  content: "";
}
.leftNavWageringContainer .wageringAccordion li .trackFave {
  margin-bottom: 0;
  font-size: 11px;
  color: #000000;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}
.leftNavWageringContainer .wageringAccordion li a:focus {
  outline: none;
  text-decoration: none;
}
.wageringAndInfoTabs {
  margin: 15px 10px;
}
.wageringAndInfoTabs li {
  flex: 1;
}
.wageringAndInfoTabs a {
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  border: 1px solid #0066cc;
  padding: 6px 25px;
  text-align: center;
  color: #005bf0;
}
.wageringAndInfoTabs a.active {
  background: #0066cc;
  color: #ffffff;
}
.handicappingNavContainer .calenderWrap .calenderHead {
  font-size: 12px;
  color: #333333;
  font-family: "Arial", sans-serif;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 15px;
}
.handicappingNavContainer .calenderWrap .calenderHead {
  font-size: 12px;
  color: #333333;
  font-family: "Arial", sans-serif;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 15px;
}
.handicappingNavContainer .calenderWrap.open .TrackContentSection {
  display: block;
  margin-bottom: 15px;
}
.handicappingNavContainer .trackCalenderList li.trackCalenderItem {
  padding: 6px;
  border: 1px solid #0066cc;
  background: #ffffff;
  margin-bottom: 8px;
}
.handicappingNavContainer .trackCalenderList li.trackCalenderItem:last-of-type {
  margin-bottom: 15px
}
.handicappingNavContainer .trackCalenderList .calenderLeft {
  flex: 1 0 40%;
  max-width: 40%;
}
.handicappingNavContainer .trackCalenderList .calenderRight {
  flex: 1 0 60%;
  max-width: 60%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}
.handicappingNavContainer .calenderLeft .trackAbbriName {
  font-size: 22px;
  line-height: 24px;
  color: #000000;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
}
.handicappingNavContainer .calenderLeft .trackFullName {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  font-family: 'Titillium Web', sans-serif;
  display: block;
  text-transform: capitalize;
  white-space: nowrap;
}
.handicappingNavContainer .calenderRight .calenderDate {
  background: #ffffff;
  border: 1px solid #ccdefc;
  min-width: 26px;
  padding: 2px;
  display: block;
  margin: 2px;
  text-align: center;
  cursor: pointer;
}
.handicappingNavContainer .calenderRight .calenderDate span {
  display: block;
  color: #000000;
}
.handicappingNavContainer .calenderRight .calenderDate:hover span {
  color: #005bf0;
}
.handicappingNavContainer .calenderRight .calenderDate span.dateNo {
  font-weight: 600;
  font-size: 11px;
  line-height: 1;
  font-family: "Arial", sans-serif;
}
.handicappingNavContainer .calenderRight .calenderDate span.day {
  font-size: 9px;
  line-height: 1;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
}
.handicappingNavContainer .calenderLeft .favoriteStar {
  margin-top: 6px;
}
.handicappingNavContainer .calenderRight .calenderDate.today:hover span {
  color: #005bf0;
}
.handicappingNavContainer .upcommingPastWrap {
  text-align: right;
}
.handicappingNavContainer .upcommingPastWrap span {
  font-size: 12px;
  line-height: 18px;
  color: #67a0ff;
  font-weight: 600;
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.handicappingNavContainer .calenderTitle {
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
}
.handicappingNavContainer .upcommingPastWrap span.active {
  color: #1060ec;
  text-decoration: underline;
}
.wagerAndHandicappingWrapper .handicappingNavContainer,
.wagerAndHandicappingWrapper .leftNavWageringContainer {
  background: #ffffff;
  position: relative;
}
.raceTracks .dashboardContent {
  flex: 0 0 75%;
}
.LeftNavHandicapping {
  height: 100%;
}

/* Media Queries: Start */
@media only screen and (max-width: 1199px) {
  .homepageWrapper {
      margin-top: 150px;
  }
  .homepageWrapper .wagerAndHandicappingWrapper {
      flex: 0;
  }
  .homepageWrapper .wagerAndHandicappingWrapper .leftNavFixed {
      left: 0;
  }
  .wagerAndHandicappingWrapper.showLeftNav:after {
    content: "";
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .6;
    z-index: 100;
  }
  .drf-nav-leftNavOpened .wagerAndHandicappingWrapper.showLeftNav .leftNavFixed {
    transform: translateX(0%);
    top: 50px;
  }
  .leftNavFixed {
    transform: translateX(-100%);
    transition: transform 500ms;
  }
  .wagerAndHandicappingWrapper .leftNavFixed {
    z-index: 101;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .raceTracks .dashboardContent {
    flex: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 767) {
  .leftNavOpened .wagerAndHandicappingWrapper {
    display: block;
  }
  .leftNavOverlay {
    background: #000;
    opacity: 0.7;
    position: fixed;
    height: 100%;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 53px;
    display: none;
  }
  .wagerAndHandicappingWrapper {
    position: fixed;
    top: 55px;
    left: 0;
    z-index: 1000;
    background: #ffffff;
    width: 100%;
  }
  .leftNavWageringContainer {
    height: 350px;
  }
  .raceTracks .dashboardContent {
    margin-left: 0;
    flex: auto;
  }
  .raceTracks .dashboardContent .rightSidebarWrap.dashboardRtgCnt {
    width: 100%;
  }
  .wageringAndInfoTabs {
    margin: 15px 10px;
  }
  .wagerAndHandicappingWrapper .handicappingNavContainer,
  .wagerAndHandicappingWrapper .leftNavWageringContainer {
    padding: 0 10px;
    height: calc( 100vh - 120px);
  }
  .leftNavWageringContainer .wageringAccordion a.d-flex span,
  .handicappingNavContainer .calenderTitle {
    font-size: 20px;
    line-height: 22px;
  }
  .leftNavWageringContainer .wageringAccordion .collapseDownMinus,
  .leftNavWageringContainer .wageringAccordion .collapseUpPlus {
    margin-top: 7px;
  }
  .leftNavWageringContainer .wageringAccordion a:focus {
    outline: none;
    text-decoration: none;
  }
  .wageringAndInfoTabs a {
    font-size: 17px;
  }
}

@media only screen and (max-width : 480px) { /*media query for mobile protrait*/
  .wagerAndHandicappingWrapper .leftNavFixed {
    width: 100%;
  }
}

@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .trackMtpAndTrackName {
    height: 40px;
  }
  .trackCalenderItem {
    height: 60px;
  }
  .handicappingNavContainer .calenderLeft .favoriteStar{
    height: 15px;
  }
}
/* Media Queries: End */
